[submodule ".devcontainer"]
	path = .devcontainer
	url = ../latex-devcontainer
[submodule ".template"]
	path = .template
	url = ../latex-packages
[submodule "mlab/project"]
	path = MLab/project
	url = https://github.com/Leo-Lem/LaunchLab.git
