[submodule ".devcontainer"]
	path = .devcontainer
	url = ../latex-devcontainer
[submodule ".template"]
	path = .template
	url = ../latex-packages
[submodule "mlab/project"]
	path = MLab/project
	url = https://github.com/Leo-Lem/LaunchLab.git
[submodule "NLP/ml project"]
	path = NLP/ml project
	url = https://github.com/Leo-Lem/named-entity-recognition.git
[submodule "NLP/project"]
	path = NLP/project
	url = https://github.com/Leo-Lem/climate-opinions.git
[submodule "BAI/code"]
	path = BAI/code
	url = https://github.com/Leo-Lem/image-captioning.git
